* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}
 
     /* red: #f84544
    purple: #333153 */

body {
font-family: 'Roboto', sans-serif;
  background-color: #ffffff; }

a {
  color: #0063C3;
  text-decoration: none; }

hr {
  margin-top: 10px;
  margin-bottom: 10px; }
  hr:after {
    content: "";
    display: table;
    clear: both; }

.transparent {
  opacity: 0; }

.content-wrapper {
  margin: 0 -15px;
  min-width: 620px; }

.search-wrapper{
 margin: 70px 10px 10px 270px;
  max-width:700px; }

header {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 10px;
  background:  #333153; }
  header .is-logo {
    float: left;
    margin-right: 15px; }
  header .logo {
    float: left;
    margin-right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF; }
    header .logo:hover {
      text-decoration: none;
       }

       .section-header nav{
   margin: 20px auto 10px auto;
  
}

.section-header a{
    text-decoration: none;
        font-size:20px;
    color: #f84544;
}

.top-nav {
height: 60px;
margin-bottom: 20px;
padding: 10px;
background-color: #333153;
position:fixed;
top: 0px; 
left:0px;
width:100%;
min-width: 320px;
z-index: 1;
}

a.cursive:hover {
font-family: 'Caveat', cursive;
letter-spacing: .2em;
}
  body>header nav {
   
    margin-right: 10px;
   margin-left: auto;
   float:right;

}

body>header a {
   font-size: 16px;
    margin: auto 0px auto 10px;
    color: #f84544;
     letter-spacing: 1.5px;
    text-decoration: none;
    }

body>header nav a:hover
{color: #ffffff;
    text-decoration: none;
    transition-duration: .3s;
    }

.top-nav .menu-icon {
    display: none;
    text-decoration: none;
    font-size:30px;
    vertical-align: center;
}

.section-header nav{
   margin: 20px auto 30px auto;
  
}

.section-header a{
    text-decoration: none;
    padding: 20px;
    font-size:20px;
    color: #f84544;
}




@media screen and (max-width: 600px) {
  .top-nav a:not(:first-child) {display: none;}
  .top-nav a.menu-icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 750px) {
  .top-nav.responsive {position: relative;}
  .top-nav.responsive a.menu-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
    background-color: #000;
  }
}

.input-group {
    float: left;
    width: 350px;
    height: 25px;
    margin-top: 3px;
    border: solid 3px #f84544;
    border-radius: 5px;
    overflow: hidden; }
.input-group #q {
      border: 0;
      height: 100%; }
.input-group #q:focus {
        outline: black;
        box-shadow: inset 0 0 0 3px black; }
.input-group .input-group-btn button {
      height: 100%;
      padding: 0 30px;
      border: solid 3px #f84544;
      background: #f84544; }

aside {
  position: fixed;
  overflow-y: auto;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 230px;
  padding: 20px;
  border-right: 1px solid #dddddd;
  background: #333153; }
  aside .facet-category-city {
    font-size: 1.0em;
    color: #f84544;
    margin: 0 0 8px; }
     aside .facet-category-country {
    font-size: 1.0em;
    color: #f84544;
    margin: 0 0 8px; }
  aside .facet-wrapper {
    padding-bottom: 12px;
    margin-bottom: 12px;
 }
  aside .facet {
    margin-bottom: 16px; }
  aside .facet-title {
    font-weight: bold;
    margin: 4px 0; }
  aside .facet-item, aside a {
    color: #f84544;
     }
    aside .facet-item:hover, aside a:hover {
      color: white;
      text-decoration: none; }
    aside .facet-item.active, aside a.active {
      font-weight: bold; 
      color: #f84544;}
    aside .facet-item input, aside a input {
      margin-right: 4px; }
  aside .facet-name {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block; 
    color:#f84544;
}
  aside .facet-count {
    margin-left: 4px;
    color: gray; 
  float: right;}
  
.results-wrapper {
  padding: 0 10px 0 240px; }

#results-topbar {
  display: inline-block;
  width: 100%;
  line-height: 12px; }
  #results-topbar:after {
    content: "";
    display: table;
    clear: both; }
  #results-topbar .sort-by {
    float: right; }
  #results-topbar label {
    font-weight: normal;
    font-size: 1em; }
  #results-topbar #sort-by-selector {
    display: inline-block; }
    .checkbox {

      color:  #333153;
    }

#subtitle {
  display: block;
  margin-bottom: 18px;
    font-size: 18px; 
    color:#f84544;
  }
  #addagency {
  display: block;
  margin-bottom: 10px;
    font-size: 14px; 
    color:#f84544;

  }

  .addagency:hover {
    font-size: 18px; 
     color:#f78a04;
  }

#clear-all {
  display: block;
  margin-bottom: 16px; }
  #clear-all .btn {
    font-size: 13px;
    color:#f78a04;}

#stats {
  padding: 15px;
  font-size: .8em; 
color: #f84544;}

#hits {
  margin: 0 -.5%;
 display: inline;
 
}
  
  #hits:after {
    content: "";
    display: block;
    clear: both; 
  }

.hit {
 
  width: 300px;
  height: 400px ;
  float: left;
  margin: 20px;
  border-radius: 5px;
 /* border-top: solid 10px #333153;*/
 /* border-bottom: solid 10px #333153;
  ;*/
box-shadow: 0 2px 4px 2px rgba(0,0,0,.05)
 
}


.hit .product-image {

      float: left;
      margin: 10px;
  }

.hit .fa-link {

      float: right;
      margin: 10px ;
      text-decoration: none;
      color: #f84544;
     font-size: 2em;
  }

.hit .product-image img {
        border-radius: 5px;
        height: 55px;
        width: 55px;
        overflow: hidden;
        margin: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
       
     }
     .product-image img:hover {
box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 7px 10px 0 rgba(0,0,0,0.19);

     }
     .hit .product-title {
     margin: 10px;
    clear:left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align:left; 
    position: relative;
    display:block;
    color: #f84544;
    text-decoration: none;
    
  }
  .hit .product-title:hover{
  color: #333153;
  }

   .hit .product-country{
     display: block;
       margin: 10px;
     font-weight: normal;
    font-size: 1em;
    color: #969696;
    text-transform: uppercase;
     }

 .hit .signup {
      margin: 5px;
      font-weight: normal;
      font-size: 1em;
      width: 100%;
      color: #f84544; 
      text-align: left;
      display: block;
      text-transform: uppercase;
 }

 a.signup {
  text-decoration: none;
    color: #f84544; 
 }
  
  .hit .product-logline {
      text-align: left;
      font-weight: normal;
      font-size: 1.2em;
      color: #111111; 
      margin: 10px;
      height:120px;
      overflow: auto;
    }

    .hit .brands {

      text-align: left;
      font-weight: normal;
      font-size: 1.0em;
      color: #111111; 
      margin: 10px;
      height: 70px;
      overflow: auto;

  }

    .hit .submit{
      font-weight: normal;
      font-size: 1.0em;
      color: #111111; 
      text-align: center;

 }
 
a.button {
 
    text-decoration: none;
    color: white;
    background-color:#f84544;
    width:100%;
    padding: 10px 20px 10px 20px;

}
a.button:hover {
  color:#f84544;
  background-color:#333153;
  transition: .5s;

 }
 a.button:active {
  background-color: #ffffff;
  transform: translateY(4px);
}

 /* red: #f84544
    purple: #333153 */


#pagination {
  margin-top: 10px;
  background-color: #333153;
  font-size: 1.5em;
     color: #f84544;
  line-height: 3em;
  text-align: center; 
text-decoration: none}

  #pagination:after {
    content: "";
    display: table;
    clear: both; }
  #pagination .ais-pagination--item__active a {
    color: white;
    font-weight: bold; }
  #pagination .ais-pagination--item__disabled {
    visibility: visible; }
    #pagination .ais-pagination--item__disabled a {
      color: #bbbbbb; }
      #pagination .ais-pagination--item__disabled a:hover {
        cursor: default;
        text-decoration: none;
        color:#f84544;
         }
  #pagination ul {
    margin: 0;
    padding: 0; }
  #pagination li {
    padding: 0 8px; }
  #pagination .fa {
    position: relative;
    top: 5px; }

.thank-you {
  text-align: center;
  font-size: 1.8em;
  padding: 40px; }
